<nav class="navbar navbar-default navbar-fixed-top" id="navbar-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-content">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://childrenofur.com">
                Children of <img src="{{ url_for('static', filename='img/cou_ur.svg') }}" alt="Ur" height="100%" width="auto">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Forums</a></li>
                <li><a href="https://childrenofur.com/game/">Play</a></li>
            </ul>

            {% if not logged_in %}
            <a class="btn navbar-btn navbar-right btn-primary" href="/login">
                <i class="fas fa-sign-in-alt"></i> Log In
            </a>

            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{ logged_in_username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/user/{{ logged_in_username }}">
                                <i class="fas fa-user"></i>
                                Forums Profile
                            </a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="fas fa-sign-out-alt"></i>
                                Log Out
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>

            <form action="/search" method="get" class="navbar-form navbar-right">
                <div class="form-group input-group">
                    <input name="q" class="form-control" type="search" placeholder="Search forums" required>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                            <i class="fas fa-search"></i> Go
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>
