<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{ reply.url if showing_reply else post.url }}">
            {% if showing_reply %}
            <b>Replying to</b>
            {% endif %}
            {{ post.title }}</a>
    </div>
    <div class="panel-body">
        {% if showing_reply %}
        {{ reply.preview }}
        {% else %}
        {{ post.preview }}
        {% endif %}
    </div>
    <ul class="list-group">
        {% if not showing_reply %}
        <li class="list-group-item">
            <i class="fas fa-fw fa-user"></i>
            Posted by <a href="{{ post.user.url }}">{{ post.user.username }}</a>
        </li>
        {% endif %}

        <li class="list-group-item">
            <i class="fas fa-fw fa-clock"></i>
            <span title="{{ post.created }}">{{ post.created_ago }}</span>
        </li>

        {% if show_category %}
        <li class="list-group-item list-group-item-{{ post.category.color }}">
            <i class="fas fa-fw fa-folder"></i>
            <a href="{{ post.category.url }}">{{ post.category.name }}</a>
        </li>
        {% endif %}

        {% if not showing_reply %}
        <li class="list-group-item">
            <i class="fas fa-fw fa-comments"></i>
            {{ post.num_replies }}
            {{ "reply" if post.num_replies == 1 else "replies" }}
        </li>
        <li class="list-group-item">
            <i class="fas fa-fw fa-bell"></i>
            {{ post.num_watchers }} subscribed
        </li>
        {% endif %}
    </ul>
</div>
