<!doctype html>
<html lang="en">
<head>
    {% include "common/head.html" %}
    <title>CoU Forums</title>
</head>
<body>
{% include "common/navbar.html" %}

<div class="container">
    <div class="row" id="categories">
        <!-- Main content -->
        <div class="col-sm-12">
            <!-- Category listing -->
            <div class="page-header">
                <h2>Forum Categories</h2>
            </div>
            <div class="list-group">
                {% for category in categories if not category.hidden %}
                <a href="{{ category.url }}" class="list-group-item list-group-item-action">
                    <span class="badge">{{ category.num_posts }} posts</span>
                    <h4 class="list-group-item-heading">{{ category.name }}</h4>
                    <p class="list-group-item-text">{{ category.description }}</p>
                </a>
                {% endfor %}
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-sm-4">
            <!-- Notice -->
            <div class="col">

            </div>
        </div>
    </div>
</div>

{% include "common/foot.html" %}
</body>
</html>
