<!doctype html>
<html lang="en">
<head>
    {% include "common/head.html" %}
    <title>Search for "{{ query }}" | CoU Forums</title>
</head>
<body>
{% include "common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Search results for <b>{{ query }}</b></h1>
            </div>
        </div>
    </div>
    <div class="grid row">
        {% set show_category = True %}
        {% for post in posts %}
        <div class="grid-item col-sm-6 col-md-4 col-lg-3">
            {% include "common/preview.html" %}
        </div>
        {% endfor %}
    </div>
</div>

{% include "common/foot.html" %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="{{ url_for('static', filename='js/masonry.js') }}"></script>
</body>
</html>
