<!doctype html>
<html lang="en">
<head>
    {% include "common/head.html" %}
    <title>{{ user.username }} | CoU Forums</title>
</head>
<body>
{% include "common/navbar.html" %}

{% set viewing_self = logged_in and user.user_id == logged_in_user_id %}

<div class="container">
    <div class="row">
        <div class="col-sm-4 text-center">
            <p class="lead">
                <br>
                <img src="{{ user.avatar_url }}">
            </p>
            <p>
                <a href="{{ user.profile_url }}" class="btn btn-info">
                    <i class="fas fa-external-link-alt"></i>
                    {{ "Edit" if viewing_self else "View" }} game profile
                </a>
            </p>
        </div>
        <div class="col-sm-8">
            <div class="page-header">
                <h1>{{ user.username }}</h1>
            </div>
            {% if not user.bio %}
                <p class="text-danger">{{ user.username }} hasn't written a bio yet.</p>
            {% else %}
                {{ user.bio | safe }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <hr>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">Posts</h2>
            <br>
            {% if not posts %}
                <p class="text-center text-danger">{{ user.username }} hasn't started any threads yet.</p>
            {% else %}
                {% set show_category = True %}
                {% for post in posts %}
                {% include "common/preview.html" %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">Replies</h2>
            <br>
            {% if not replies %}
                <p class="text-center text-danger">{{ user.username }} hasn't replied to any threads yet.</p>
            {% else %}
                {% set showing_reply = True %}
                {% for reply in replies %}
                {% set post = reply.post %}
                {% include "common/preview.html" %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% include "common/foot.html" %}
</body>
</html>
